<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome!</h1>
    <form action="" method="GET">
        <a href="/login"><button type="button" name="submit" value="login">Login</button></a>
        <a href="{{ url_for('register') }}"><button type="button" name="submit" value="register">Register</button></a>
    </form>
</body>
</html> -->

{% extends 'base.html' %}

{% block content %}
    <h1 class="display-1">Welcome to our page</h1>
{% endblock %}


