<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{ user }}!</h1>
    <a href="{{ url_for('logout') }}"><button type="button" name="logout" value="logout">Logout</button></a>
    
</body>
</html> -->

{% extends 'base.html' %}

{% block content %}
    {% if email_verified %}
        <h1 class="display-4">Welcome, {{ user }}!</h1>
        <a class="logoutButton" href="{{ url_for('logout') }}"><button type="button" class="btn btn-primary" name="logout" value="logout">Logout</button></a>
    {% else %}
        <h1 class="display-4">Email has not been verified yet</h1>
    {% endif %}
{% endblock %}
